[Unit]
Description=DRX Web Interface
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/brian/DRX
ExecStart=/bin/bash -c '/usr/bin/python3 -u /home/brian/DRX/drx_web.py 2>&1 | tee -a /home/brian/DRX/service_logs/drx_web_service.log'
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RestartSec=10
StartLimitInterval=200
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
