[Unit]
Description=DRX Main Script
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/brian/DRX
ExecStart=/usr/bin/python3 -u /home/brian/DRX/drx_main.py
StandardOutput=append:/home/brian/DRX/service_logs/drx_main_service.log
StandardError=append:/home/brian/DRX/service_logs/drx_main_service.log
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=200
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
