[Unit]
Description=DRX Main Script
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/drx/DRX
ExecStart=/usr/bin/python3 -u /home/drx/DRX/drx_main.py
StandardOutput=append:/home/drx/DRX/logs/drx_main_service.log
StandardError=append:/home/drx/DRX/logs/drx_main_service.log
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=200
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
